/* css styles */
.navbar {
  background-color: #bf0000 !important; 
}

.navbar a, .navbar-brand, .navbar-nav .nav-link {
  color: white !important; 
}

.navbar a:hover, .navbar-nav .nav-link:hover {
  color: gray !important; 
}
